<% if post_youtuber.favorited_by?(current_user) %>
  <p>
    <%= link_to  post_youtuber_favorites_path(post_youtuber.id), data: {"turbolinks" => false},method: :delete, remote: true do %>
      ❤<%= post_youtuber.favorites.count %>
    <% end %>
  </p>

<% else %>
 <p>
    <%= link_to post_youtuber_favorites_path(post_youtuber.id),data: {"turbolinks" => false}, method: :post, remote: true do %>
      ♡<%= post_youtuber.favorites.count %>
    <% end %>
  </p>
<% end %>