<div class = "yohaku"></div>
<%= form_with(model:[post_youtuber, post_comment]) do |f| %>
<label for="ch_name">コメント記入欄</label>
<div class = "form-group">
  <%= f.text_area :comment, size:"40x4" %>
</div>
  <%= f.submit '送信'%>
<% end %>