<table class="table post_comments">
    <thead class="thead-dark">
    <tr>
      <th scope="col">投稿者</th>
      <th scope="col">コメント</th>
    </tr>
  </thead>
  <tbody>
  <% @post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        <%= post_comment.user.name %>
      </td>
      <td>
        <%= post_comment.comment %>
      </td>
      <td>
        <% if post_comment.user == current_user %>
          <%= link_to "Destroy", post_youtuber_post_comment_path(post_comment.post_youtuber, post_comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>