<div class = "container-fluid">
  <div class="page1">
    <div class="target1 text2">
       <p class="text-center">Find the Youtuberとは？<br><br>
                              まだまだ駆け出しYOUTUBER<br>
                              あなたが応援しているYOUTUBER<br>
                              様々なYOUTUBERを共有できる投稿サイトです。<br></p><br>
       <div class="scroll js-scroll"><a>SCROLL</a></div>
   </div>
</div>

<div class="page1">
  <div class="target text3">カテゴリー毎に分けて検索
    <div class="img"> 
      <%= image_tag("main.png", alt: "トップ") %>
    </div>
  </div>
</div>

<div class="page1">
  <div class="target text4">その場でチャンネル登録
    <div class="img">
        <%= image_tag("main.png", alt: "トップ") %>
    </div>
  </div>
</div>

<div class="page1">
  <div class="target text3">いいね数に応じたランキング
    <div class="img"> 
      <%= image_tag("main.png", alt: "トップ") %>
     </div>
    <br><br>
  </div>
</div>

 <div class="page1">
   <div class="target text2">
     <p class="text-center">はじめる</p>
       <div class="wrapper">
         <div class="fancy-button bg-gradient1 text-center">
           <span>
             <i class="fa fa-wheelchair-alt"></i>
             <%= link_to 'LET’S START！', new_user_registration_path, class: 'text-light' %>
           </span>
         </div>
       </div>
    </div>
 </div>

</div>

<script>

ScrollReveal().reveal('.text2', { 
  duration: 1600, 
  scale: 4,
  reset: false
});

ScrollReveal().reveal('.text3', { 
  duration: 3000, 
  origin: 'left', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text4', { 
  duration: 3000, 
  origin: 'right', 
  distance: '500px',
  reset: true   
});

</script>
