
<div class="page1">
      <div class="target text2">
      ようこそFind the Youtuberへ！<br>
      あなたが好きなYOUTUBERを共有しよう！<br>
      新たなYOUTUBERを見つけてみませんか？<br>
      </div>
</div>
<div class="page1">
  <div class="target text3">YOUTUBERを共有＆投稿
     <img src = "assets/main.png">

  </div>
</div>
<div class="page1">
  <div class="target text4">気にいったら、そのまま登録へ！
　　 <img src = "assets/subscribe.png">
  </div>
</div>
<div class="page1">
  <div class="target text5">ランキング
    <img src = "assets/ranking.png">
    </div>
</div>
<div class="page1">
  <div class="target text2">駆け出しYOUTUBERや面白いYOUTUBERを共有し、新しい発見を。。。。
  </div>
</div>

    <script>

ScrollReveal().reveal('.text2', { 
  duration: 1600, 
  scale: 4,
  reset: true
});

ScrollReveal().reveal('.text3', { 
  duration: 3000, 
  origin: 'left', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text4', { 
  duration: 3000, 
  origin: 'right', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text5', { 
  duration: 3000, 
  origin: 'top', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text6', { 
  duration: 3000, 
  scale: 0.1,
  reset: true
});

ScrollReveal().reveal('.image1', { 
  duration: 2000,
  reset: true   
});
    </script>
