
<div class="page">
      <div class="target text2">
              <h1 >About</h1>
      ようこそFind the Youtuberへ！<br>
      あなたが好きなYOUTUBERを共有しよう！<br>
      新たなYOUTUBERを見つけてみませんか？</div>
</div>
<div class="page">
  <div class="target text3">YOUTUBERを共有しあう
     <img src = "assets/social-media-1233873_1920.jpeg">

  </div>
</div>
<div class="page">
  <div class="target text4">気にいったら、そのまま登録へ！
　　 <img src = "assets/social-media-1233873_1920.jpeg">
  </div>
</div>
<div class="page">
  <div class="target text5">ランキング機能
    <img src = "assets/social-media-1233873_1920.jpeg">
    </div>
</div>
<div class="page">
  <div class="target text6">はじめる
  </div>
</div>

    <script>

ScrollReveal().reveal('.text2', { 
  duration: 1600, 
  scale: 4,
  reset: true
});

ScrollReveal().reveal('.text3', { 
  duration: 3000, 
  origin: 'left', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text4', { 
  duration: 3000, 
  origin: 'right', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text5', { 
  duration: 3000, 
  origin: 'top', 
  distance: '500px',
  reset: true   
});

ScrollReveal().reveal('.text6', { 
  duration: 3000, 
  scale: 0.1,
  reset: true
});

ScrollReveal().reveal('.image1', { 
  duration: 2000,
  reset: true   
});
    </script>
