<div class = "yohaku"></div>
<div class="page">
  <div class="target1">
     <img src = "assets/howto.png">
  <p>チャンネルURL・・・チャンネルのホーム画面にチャンネルURLが表示されます。(https://www.youtube.com/channel/~~~~~)<br>
     イチオシ動画・・・動画下の”共有”ボタンをクリックすると共有URLが表示されます。(https://youtu.be/~~~~)  
  </p>
  </div>
</div>
