 <div class="up"></div>
  <div class="down"></div>
    <div class="line"></div>

   <div class = "scroll-content">
     
     <div class = "scroll-target image1">
         <img src = "assets/social-media-1233873_1920.jpeg">
     <p class ="scroll-target text2">Welcome<br>
     to<br>Find the Yotuber!
     </p>
   </div>
</div>

    <script>
        $(".line").animate({"width":"100%"},1500,function(){
            $(".line").css("right",0)
            $(".line").animate({"width":"0%"},function(){
                $(".up").animate({"height":"0%"})
                $(".down").animate({"height":"0%"})

            });
        })
     ScrollReveal().reveal('.text1', { 
       duration: 5000, 
       delay: 3000,
       scale: 8,
       delay: 100,
       reset: true,
       viewFactor: 0.4,
     });
     ScrollReveal().reveal('.text2', { 
       duration: 5000, 
       delay: 3000,
       scale: 8,
       delay: 100,
       reset: false,
       viewFactor: 0.4,
     });
     ScrollReveal().reveal('.text3', { 
       duration: 2000, 
       origin: 'top', 
       delay: 100,
       distance: '500px',
       reset: true,
       viewFactor: 0.4,
     });
     ScrollReveal().reveal('.contents1', { 
       duration: 2000, 
       origin: 'right', 
       delay: 100,
       distance: '500px',
       reset: true,
       viewFactor: 0.4,
     });
     ScrollReveal().reveal('.contents2', { 
       duration: 2000, 
       origin: 'left', 
       delay: 100,
       distance: '500px',
       reset: true,
       viewFactor: 0.4,
     });

     ScrollReveal().reveal('.image1', { 
       duration: 2000,
       delay: 2500,
       reset: false,
       opacity: 0,
       viewFactor: 0.4,
     });
        
    </script>

