<div class="slider">
<img src="assets/yt_icon_rgb.png" width="700" height="700" alt="">
<img src="assets/yt_icon_rgb.png" width="400" height="700" alt="">
<img src="assets/yt_icon_rgb.png" width="400" height="700" alt="">
<img src="assets/yt_icon_rgb.png" width="400" height="700" alt="">
</div>

